<!DOCTYPE html>
<html>
<head>
	<title>Admin Login | Digital Mess</title>
	<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
</head>
<body>
	<div class="main-box">
		<div class="container">
			<form action="/admin/login" method="POST">
			  <div class="form-group">
			    <label for="adminid">Admin ID</label>
			    <input type="text" class="form-control" id="adminid" name="adminid" aria-describedby="adminHelp" placeholder="Enter Admin ID">
			    <small id="adminHelp" class="form-text text-muted">Never Share your Login details with anyone.</small>
			  </div>
			  <div class="form-group">
			    <label for="password">Password</label>
			    <input type="password" class="form-control" name="password" id="password" placeholder="Password">
			  </div>
			  <button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>


<script src="{{url_for('static', filename='js/jquery.js')}}"></script>
<script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>
</html>