<!DOCTYPE html>
<html>
<head>
	<title>Digital Mess</title>
	<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
</head>
<body>
	<div class="main-box">
		<div class="container">
			<div class="rect-box row" id="student-page">
				STUDENT
			</div>
		</div>
			
		<div class="container">
			<div class="rect-box row" id="admin-page">
				ADMIN
			</div>
		</div>
	</div>

<script src="{{url_for('static', filename='js/jquery.js')}}"></script>
<script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>
</html>